PORT=3000
GRPC_PORT=50051
CORS_ORIGINS=*
LOG_LEVEL=info

JWT_SECRET=cambia-este-secreto-por-uno-largo-y-aleatorio
JWT_EXPIRES_IN=1h

MSSQL_SA_PASSWORD=Adm1nistrador!Seguro
DB_HOST=localhost
DB_PORT=14330
DB_NAME=AdoptMe
DB_TEST_NAME=AdoptMePruebas
DB_USER=adoptme_app
DB_PASSWORD=Aplicacion!Segura2025

REDIS_URL=redis://localhost:6379

ADMIN_EMAIL=admin@adoptme.com
ADMIN_PASSWORD=Administrador123
ADMIN_NAME=Administrador

HTTP_PUBLIC_PORT=8080
GRPC_PUBLIC_PORT=50051
SQL_PUBLIC_PORT=14330
REDIS_PUBLIC_PORT=6379
