<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AdoptMeAplicacion"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/reglas_extraccion_datos"
        android:fullBackupContent="@xml/reglas_respaldo"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdoptMe"
        android:usesCleartextTraffic="${permitirTextoPlano}">

        <activity
            android:name=".ui.acceso.InicioSesionActivity"
            android:exported="true"
            android:theme="@style/Theme.AdoptMe.Destacado"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.acceso.RegistroUsuarioActivity"
            android:exported="false"
            android:theme="@style/Theme.AdoptMe.Destacado"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.principal.PrincipalActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.ubicacion.SeleccionUbicacionActivity"
            android:exported="false"
            android:theme="@style/Theme.AdoptMe.Destacado" />
    </application>

</manifest>
